:host {
  margin: auto;
  display: block;
  width: 100%;
  margin-top: 10px;
}

mat-toolbar {
  justify-content: space-between;
}

.title {
  margin-left: -40px;
}

main {
  padding: 10px;
}

app-task {
  display: block;
  width: calc(100% - 30px);
  margin: 0 auto 10px auto;
  border-radius: 2px;
  background: #fafafa;
  padding: 18px;
}
.dragging {
  outline: 5px dashed #b8c8d6;
}
.bg-approach{
  background: #ffcdd2;
}
.bg-exceeding{
  background:#b71c1c;
}
.loadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 144px)
}


