<div class="cardTask ">
  <div class="headerTask">
    <button mat-mini-fab color="warn" (click)="delete()" class="buttonEdit">
      <mat-icon>clear</mat-icon>
    </button>
    <div class="titleTask mat-subheading-2">
      {{task.title}}
    </div>
  </div>
  <div *ngIf="task.taskDescriptionShow" class="mat-body-1 cardDescription">
    {{task.description}}
  </div>
  <div class="deadlineTask mat-caption">
    дедлайн задачи: {{task.deadline | date: 'dd.MM.yyyy'}}
    в {{task.deadline | date: 'HH:mm'}}
  </div>
  <div class="actionsCard">
    <button mat-mini-fab color="accent" (click)="openDialog()" class="buttonEdit">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="clickTask()">{{nameButton[task.taskDescriptionShow ? 1: 0]}}</button>
  </div>
</div>

